docker/nifi/flow/NiFi_Flow.json
{"flowContents":{"identifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","instanceIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0","name":"ai-service","comments":"","position":{"x":496.0,"y":-64.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5050f808-cc9a-38fb-a423-1953fcb83195","instanceIdentifier":"c596b96e-019b-1000-56bb-20103e71c6dd","name":"InvokeHTTP","comments":"","position":{"x":496.0,"y":208.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"Proxy Configuration Service":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://ai-service:8082/api/ai/ingest-context","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Response","No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"26080d8f-14c7-3a1c-87fc-399746db9336","instanceIdentifier":"c595c345-019b-1000-93c8-374ec5768ed9","name":"ConvertRecord","comments":"","position":{"x":1176.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"5112a01c-e916-38ef-88f6-3b156a3d55cd","Record Reader":"dadf92bf-2a4f-37d1-8121-690eb7415f3c"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"922b7ebf-75de-37c6-8136-136638bc1a31","instanceIdentifier":"c6b68e61-019b-1000-7bfa-6e6a406bd921","name":"LookupRecord","comments":"","position":{"x":1184.0,"y":168.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"student_name":"/full_name","Routing Strategy":"route-to-success","Root Record Path":null,"Result RecordPath":null,"Lookup Service":"9d2feac3-a098-3757-9535-2f4ecd2dbd93","Record Writer":"5112a01c-e916-38ef-88f6-3b156a3d55cd","Cache Size":"0","Record Reader":"ddcab93f-74ee-3232-a7a7-74ccb2954bb9","Record Update Strategy":"use-property","key":"/user_id","Record Result Contents":"insert-entire-record"},"propertyDescriptors":{"student_name":{"name":"student_name","displayName":"student_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Result RecordPath":{"name":"Result RecordPath","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Service":{"name":"Lookup Service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Update Strategy":{"name":"Record Update Strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Result Contents":{"name":"Record Result Contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"c6cb0ff6-019b-1000-71bb-b9c0f58a20f1","instanceIdentifier":"bbc7a68c-50d5-35da-8645-a0b2bc3c04be","name":"LookupRecord","comments":"","position":{"x":1192.0,"y":440.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"route-to-success","Root Record Path":null,"Result RecordPath":null,"Lookup Service":"d4db73f2-ce80-3a26-8db3-b77027a37180","class_id":"/course_id","Record Writer":"5112a01c-e916-38ef-88f6-3b156a3d55cd","Cache Size":"0","Record Reader":"ddcab93f-74ee-3232-a7a7-74ccb2954bb9","Record Update Strategy":"use-property","key":"/class_id","Record Result Contents":"insert-entire-record"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Root Record Path":{"name":"Root Record Path","displayName":"Root Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Result RecordPath":{"name":"Result RecordPath","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Service":{"name":"Lookup Service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"class_id":{"name":"class_id","displayName":"class_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Update Strategy":{"name":"Record Update Strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Record Result Contents":{"name":"Record Result Contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"c6b55f39-019b-1000-446e-ec7db0685a08","instanceIdentifier":"8401841c-4ab5-3d42-d6c8-57cbb3dd9f5c","name":"QueryDatabaseTable","comments":"","position":{"x":544.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Table Name":"exam_attempts","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"e3a3e007-d612-32d6-98dc-582f7b9af9d6","Default Decimal Scale":"0","Maximum-value Columns":"attempt_id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Transaction Isolation Level":null,"Output Batch Size":"0","Use Avro Logical Types":"false","Normalize Table and Column Names":"false","Database Type":"MySQL","Columns to Return":"attempt_id, user_id, total_score, submitted_at","Default Decimal Precision":"10","Max Rows Per Flow File":"0","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Isolation Level":{"name":"Transaction Isolation Level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table and Column Names":{"name":"Normalize Table and Column Names","displayName":"Normalize Table and Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per Flow File":{"name":"Max Rows Per Flow File","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d5f1908a-7073-3ab1-9fd7-84d26ef261e2","instanceIdentifier":"c6cb4f67-019b-1000-24cf-fc0a4ca182bf","name":"","source":{"id":"922b7ebf-75de-37c6-8136-136638bc1a31","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"LookupRecord","comments":"","instanceIdentifier":"c6b68e61-019b-1000-7bfa-6e6a406bd921"},"destination":{"id":"c6cb0ff6-019b-1000-71bb-b9c0f58a20f1","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"LookupRecord","comments":"","instanceIdentifier":"bbc7a68c-50d5-35da-8645-a0b2bc3c04be"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"413ce828-d2fd-35b6-a8da-a64e0173f50d","instanceIdentifier":"c6cca751-019b-1000-4652-0847ee37ed13","name":"","source":{"id":"c6cb0ff6-019b-1000-71bb-b9c0f58a20f1","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"LookupRecord","comments":"","instanceIdentifier":"bbc7a68c-50d5-35da-8645-a0b2bc3c04be"},"destination":{"id":"5050f808-cc9a-38fb-a423-1953fcb83195","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"InvokeHTTP","comments":"","instanceIdentifier":"c596b96e-019b-1000-56bb-20103e71c6dd"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"e5f6db62-780c-30d2-8e09-5cf821a4e8fb","instanceIdentifier":"c6cace01-019b-1000-9c6b-5cffb722fbfb","name":"","source":{"id":"26080d8f-14c7-3a1c-87fc-399746db9336","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"ConvertRecord","comments":"","instanceIdentifier":"c595c345-019b-1000-93c8-374ec5768ed9"},"destination":{"id":"922b7ebf-75de-37c6-8136-136638bc1a31","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"LookupRecord","comments":"","instanceIdentifier":"c6b68e61-019b-1000-7bfa-6e6a406bd921"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"},{"identifier":"f32a8bac-9262-3904-87c6-670f979d1c34","instanceIdentifier":"c6cad887-019b-1000-b199-022b646371f3","name":"","source":{"id":"c6b55f39-019b-1000-446e-ec7db0685a08","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"8401841c-4ab5-3d42-d6c8-57cbb3dd9f5c"},"destination":{"id":"26080d8f-14c7-3a1c-87fc-399746db9336","type":"PROCESSOR","groupId":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377","name":"ConvertRecord","comments":"","instanceIdentifier":"c595c345-019b-1000-93c8-374ec5768ed9"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fa8186d9-10ad-3cff-a6ba-00f4baaa4377"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"01386aba-0e79-30da-bd03-844d22aa5894","instanceIdentifier":"c6b2b057-019b-1000-db53-c96cf09dda02","name":"UserDBPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/lib/drivers/mysql-connector-j-9.4.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://mysql-db:3306/user_db?useSSL=false&allowPublicKeyRetrieval=true","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"9d2feac3-a098-3757-9535-2f4ecd2dbd93","instanceIdentifier":"c6b7bf3d-019b-1000-e79b-105db8477577","name":"DatabaseRecordLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.7.2"},"properties":{"Lookup Value Columns":"full_name","Table Name":"users","Database Connection Pooling Service":"01386aba-0e79-30da-bd03-844d22aa5894","Default Decimal Scale":"0","Cache Size":"0","Default Decimal Precision":"10","Lookup Key Column":"user_id","Clear Cache on Enabled":"true","Cache Expiration":null},"propertyDescriptors":{"Lookup Value Columns":{"name":"Lookup Value Columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Key Column":{"name":"Lookup Key Column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Clear Cache on Enabled":{"name":"Clear Cache on Enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"cf4b7682-7712-33e0-8c8b-e39a8dd0ec91","instanceIdentifier":"c6b45ed1-019b-1000-0de3-3e7a7226daa9","name":"CourseDBPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/lib/drivers/mysql-connector-j-9.4.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:mysql://mysql-db:3306/course_db?useSSL=false&allowPublicKeyRetrieval=true","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"e3a3e007-d612-32d6-98dc-582f7b9af9d6","instanceIdentifier":"c588234c-019b-1000-d940-5c60b0a8e331","name":"ExamDBPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.7.2"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/lib/drivers/mysql-connector-j-9.4.0.jar","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":"SELECT 1","Database Password Provider":null,"Database Connection URL":"jdbc:mysql://mysql-db:3306/exam_db?useSSL=false&allowPublicKeyRetrieval=true","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"root","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","FILE","DIRECTORY"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"5112a01c-e916-38ef-88f6-3b156a3d55cd","instanceIdentifier":"c58d4b75-019b-1000-6307-4d420dfc2723","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"dadf92bf-2a4f-37d1-8121-690eb7415f3c","instanceIdentifier":"c58d08df-019b-1000-1955-141fcd1dd8e2","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Schema Version":null,"Cache Size":"1000","Schema Registry":null,"Schema Access Strategy":"embedded-avro-schema","Schema Name":"${schema.name}"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"ddcab93f-74ee-3232-a7a7-74ccb2954bb9","instanceIdentifier":"c6bb2529-019b-1000-f522-b6d7aef97a70","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.7.2"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"},{"identifier":"d4db73f2-ce80-3a26-8db3-b77027a37180","instanceIdentifier":"c6d67ad0-019b-1000-b6ea-59746032185b","name":"CourseLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.7.2"},"properties":{"Lookup Value Columns":"course_id","Table Name":"enrollments","Database Connection Pooling Service":"cf4b7682-7712-33e0-8c8b-e39a8dd0ec91","Default Decimal Scale":"0","Cache Size":"0","Default Decimal Precision":"10","Lookup Key Column":"user_id","Clear Cache on Enabled":"true","Cache Expiration":null},"propertyDescriptors":{"Lookup Value Columns":{"name":"Lookup Value Columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Size":{"name":"Cache Size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Lookup Key Column":{"name":"Lookup Key Column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Clear Cache on Enabled":{"name":"Clear Cache on Enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}},{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"e6a4e44c-019b-1000-627c-612e4ba57db0"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}